@font-face {
  font-family: "sertig";
  src: url("Sertig.otf"); }
@font-face {
  font-family: "font-awesome";
  src: url("http://localhost/font-awesome/fonts/FontAwesome.otf"); }
.wrapper {
  display: table;
  width: 100%;
  margin: 0px auto;
  padding: 0px; }

.header {
  width: 100%;
  height: auto;
  border-bottom: 3px solid  #2C82C9;
  color: #2C82C9; }

* {
  margin: 0px auto;
  padding: 0px;
  font-family: sertig, font-awesome; }

#tab-menu {
  position: absolute;
  left: 0px;
  font-weight: bold;
  padding: 5px; }

#options {
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: bold;
  padding: 5px; }

.slide-menu {
  position: absolute;
  top: 58px;
  z-index: 1;
  background: white;
  width: 70%;
  height: 100%;
  color: #2C82C9; }

#menu-right {
  border-left: 1px solid  #DCDCDC;
  right: 0px; }

#menu-left {
  border-right: 1px solid  #DCDCDC; }

#hide-slide-menu {
  width: 90%;
  background: #2969B0;
  font-weight: bold;
  width: auto; }

.menu-list {
  padding: 10px;
  padding-left: 10%;
  border-bottom: 1px solid  #DCDCDC; }

.header a {
  float: left; }

#profile {
  width: 100%;
  height: 20%;
  background: #2C82C9;
  color: white;
  text-align: center; }

#profile i {
  margin: 10px; }

span {
  margin: 0px 10px; }

.sub-main-menu {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid  #DCDCDC;
  border-top: 1px solid  #DCDCDC;
  color: #B4B4B4;
  margin-top: 10px; }

.sub-main-menu div {
  display: table;
  margin: 10px auto; }

.sub-main-menu div span {
  padding: 0px 5px 0px 5px; }

.title {
  display: table;
  margin: 0px auto;
  padding: 0px;
  padding: 5px; }

.title img {
  width: auto;
  height: 40px; }

.slide-show img {
  width: 100%;
  border-bottom: 15px solid #2C82C9; }

.body {
  height: auto; }

.main-menu {
  display: table;
  margin: 0px auto; }

.main-menu-list {
  border-radius: 50%;
  background: #2C82C9;
  float: left;
  width: 70px;
  height: 70px;
  padding: 20px 15px 10px 15px;
  text-align: center;
  color: white;
  margin: 10px; }

.selectOptions {
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  height: 30px;
  width: 100px; }

#value-sub-main-menu {
  font-size: 11px;
  text-align: justify;
  margin: 10px; }

.popupmenu {
  color: #2C82C9;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1; }

.options-bar select, .input-data-form input, .btn-find {
  width: 100%;
  height: 30px;
  border: 1px solid #D0D1D5;
  margin: 5px;
  background: white;
  font-size: 15px;
  text-align: center; }

.options-bar {
  text-align: center; }

.form-find-tiket {
  display: table;
  margin: 10px auto;
  width: 80%;
  height: auto; }

.btn {
  border: none;
  border-bottom: 3px solid #41A85F;
  background-color: #61BD6D;
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

#form-update-profile {
  display: table;
  margin: 0px auto;
  width: 80%; }

#form-update-profile input {
  width: 100%;
  height: 30px;
  border: 1px solid #D0D1D5;
  background: white;
  font-size: 15px;
  text-align: center;
  margin: 0px 0px 5px 0px; }

#form-update-profile div, #form-update-profile button {
  display: table;
  margin: 0px auto;
  width: 100%; }

#result, #result-order, #pop-profile {
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1; }

#result span {
  color: #2C82C9; }

#result div {
  margin: 10px; }

#scope-list-ticket form, #scope-list-order form {
  border: 1px solid #D0D1D5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px; }

#scope-list-ticket button, #scope-list-order button {
  width: 100px;
  height: 30px;
  border: 1px solid #FBA026;
  background: #F37934;
  color: white;
  font-weight: bold; }

#result-order {
  z-index: 1; }

#pop-profile {
  z-index: 1; }

a {
  text-decoration: none; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

/*# sourceMappingURL=dashboard.css.map */
